.sjkop {
  background-image: radial-gradient(#8130f2 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #000000;
}
.as {
  color: #8130f2;
}


.ghop{
  background-image: radial-gradient(#8130f2 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #000000;
}